# Vivado folders
pFREYA_DAQ.cache
pFREYA_DAQ.hw
pFREYA_DAQ.ip_user_files
pFREYA_DAQ.sim
pFREYA_DAQ.runs/*
pFREYA_DAQ.gen
pFREYA_DAQ.ioplanning

!pFREYA_DAQ.runs/impl_1
pFREYA_DAQ.runs/impl_1/*
!pFREYA_DAQ.runs/impl_1/pFREYA_DAQ.bit
!pFREYA_DAQ.runs/impl_1/pFREYA_DAQ.ltx