# Vivado folders
pFREYA_DAQ_genesys2.cache
pFREYA_DAQ_genesys2.hw
pFREYA_DAQ_genesys2.ip_user_files
pFREYA_DAQ_genesys2.sim
pFREYA_DAQ_genesys2.runs/*
pFREYA_DAQ_genesys2.gen
pFREYA_DAQ_genesys2.ioplanning

!pFREYA_DAQ_genesys2.runs/impl_1
pFREYA_DAQ_genesys2.runs/impl_1/*
!pFREYA_DAQ_genesys2.runs/impl_1/pFREYA_DAQ.bit
!pFREYA_DAQ_genesys2.runs/impl_1/pFREYA_DAQ.ltx