[submodule "pFREYA_analysis/TeledyneLeCroyPy"]
	path = pFREYA_analysis/TeledyneLeCroyPy
	url = https://github.com/pollostrazon/TeledyneLeCroyPy.git
[submodule "pFREYA_tester/TeledyneLeCroyPy"]
	path = pFREYA_tester/TeledyneLeCroyPy
	url = https://github.com/microlab-unibg/TeledyneLeCroyPy.git
